---
permalink: "/about/"
layout: base.njk
---
<!-- Header Start -->
<div class="jumbotron jumbotron-fluid page-header position-relative overlay-bottom" style="margin-bottom: 90px;">
  <div class="container text-center py-5">
    <h1 class="text-white display-1">{{ header.title }}</h1>
    <div class="d-inline-flex text-white mb-5">
      {% for b in header.breadcrumb %}
        {% if not loop.first %}<i class="fa fa-angle-double-right pt-1 px-3"></i>{% endif %}
        {% if b.url %}
          <p class="m-0 text-uppercase"><a class="text-white" href="{{ b.url }}">{{ b.label }}</a></p>
        {% else %}
          <p class="m-0 text-uppercase">{{ b.label }}</p>
        {% endif %}
      {% endfor %}
    </div>
    <div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">
      <div class="input-group">
        <div class="input-group-prepend">
          <button class="btn btn-outline-light bg-white text-body px-4 dropdown-toggle" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">{{ header.search.dropdown_label }}</button>
          <div class="dropdown-menu">
            {% for item in header.search.dropdown_items %}
              <a class="dropdown-item" href="#">{{ item }}</a>
            {% endfor %}
          </div>
        </div>
        <input type="text" class="form-control border-light" style="padding: 30px 25px;" placeholder="{{ header.search.placeholder }}">
        <div class="input-group-append">
          <button class="btn btn-secondary px-4 px-lg-5">Search</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Header End -->

<!-- About Start -->
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
        <div class="position-relative h-100">
          <img class="position-absolute w-100 h-100" src="{{ about.image }}" style="object-fit: cover;">
        </div>
      </div>
      <div class="col-lg-7">
        <div class="section-title position-relative mb-4">
          <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">{{ about.subtitle }}</h6>
          <h1 class="display-4">{{ about.title }}</h1>
        </div>
        <p>{{ about.text }}</p>
        <div class="row pt-3 mx-0">
          {% for s in about.stats %}
            <div class="col-3 px-0">
              <div class="bg-{{ s.bg }} text-center p-4">
                <h1 class="text-white" data-toggle="counter-up">{{ s.value }}</h1>
                <h6 class="text-uppercase text-white">{{ s.label1 }}<span class="d-block">{{ s.label2 }}</span></h6>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Feature Start -->
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-7 mb-5 mb-lg-0">
        <div class="section-title position-relative mb-4">
          <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">{{ feature.subtitle }}</h6>
          <h1 class="display-4">{{ feature.title }}</h1>
        </div>
        <p class="mb-4 pb-2">{{ feature.text }}</p>

        {% for f in feature.items %}
        <div class="d-flex mb-3">
          <div class="btn-icon bg-{{ f.bg }} mr-4">
            <i class="fa fa-2x fa-{{ f.icon }} text-white"></i>
          </div>
          <div class="mt-n1">
            <h4>{{ f.title }}</h4>
            <p>{{ f.text }}</p>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="col-lg-5" style="min-height: 500px;">
        <div class="position-relative h-100">
          <img class="position-absolute w-100 h-100" src="{{ feature.image }}" style="object-fit: cover;">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Feature End -->