---
permalink: "/testimonial/"
layout: base.njk
---

<!-- Header -->
<div class="jumbotron jumbotron-fluid page-header position-relative overlay-bottom" style="margin-bottom: 90px;">
  <div class="container text-center py-5">
    <h1 class="text-white display-1">{{ header.title }}</h1>
    <div class="d-inline-flex text-white mb-5">
      {% for b in (header.breadcrumb or []) %}
        {% if not loop.first %}<i class="fa fa-angle-double-right pt-1 px-3"></i>{% endif %}
        {% if b.url %}<p class="m-0 text-uppercase"><a class="text-white" href="{{ b.url | url }}">{{ b.label }}</a></p>
        {% else %}<p class="m-0 text-uppercase">{{ b.label }}</p>{% endif %}
      {% endfor %}
    </div>
    <div class="mx-auto mb-5" style="width:100%;max-width:600px;">
      <div class="input-group">
        <div class="input-group-prepend">
          <button class="btn btn-outline-light bg-white text-body px-4 dropdown-toggle" type="button" data-toggle="dropdown">
            {{ (header.search and header.search.dropdown_label) or 'Courses' }}
          </button>
          <div class="dropdown-menu">
            {% for item in ((header.search and header.search.dropdown_items) or []) %}
              <a class="dropdown-item" href="#">{{ item }}</a>
            {% endfor %}
          </div>
        </div>
        <input type="text" class="form-control border-light" style="padding:30px 25px;" placeholder="{{ (header.search and header.search.placeholder) or 'Keyword' }}">
        <div class="input-group-append"><button class="btn btn-secondary px-4 px-lg-5">Search</button></div>
      </div>
    </div>
  </div>
</div>

<!-- Testimonial -->
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-lg-5 mb-5 mb-lg-0">
        <div class="section-title position-relative mb-4">
          <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">{{ testimonial.subtitle }}</h6>
          <h1 class="display-4">{{ testimonial.title }}</h1>
        </div>
        <p class="m-0">Dolor est dolores et nonumy sit labore dolores est sed rebum amet, justo duo ipsum sanctus dolore magna rebum sit et...</p>
      </div>
      <div class="col-lg-7">
        <div class="owl-carousel testimonial-carousel">
          {% for t in (testimonial.items or []) %}
          <div class="bg-light p-5">
            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
            <p>{{ t.quote }}</p>
            <div class="d-flex flex-shrink-0 align-items-center mt-4">
              <img class="img-fluid mr-4" src="{{ t.image | url }}" alt="">
              <div>
                <h5>{{ t.name }}</h5>
                <span>{{ t.role }}</span>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
